.div01 {
    text-align: center;
    margin-top: 50px;
    color: darkred;
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}